#cuerpo{
background-color:bisque;
width: 900px;
height: 1000px;
}
.cabecera{
height: 150px;
background-color:green;
}
.contenido{
    height: 700px;
    background-color: white;
    margin-top: -25px;
}
.pie{
    height: 100px;
    background-color: red;
    text-align: center;
    align-content: center;
    color: goldenrod;
margin-top: -20px;
}
.titulo{
    font-size: xx-large;
    text-align: center;
    align-content: center;
    color: goldenrod;
}
.tituloME{
color: greenyellow;
}
.tituloXI{
    color:white;
    }
.tituloCO{
    color:red;
}
.navegacion{
    text-align: center;
    height: 50px;
    background-color: green;
}
.navegacion_enlace{
    font-size: large;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

img{
width: 100px;
height: 100px;
border: 1px solid;
margin-left: 5px;
margin-right: 5px;
}
.reseña{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify;
}